body {
  margin: 0;
}

h2 {
  background: #e7e7;
  border: 1px solid #d7d7d7;
  padding: 20px;
  margin: 0px;
}
.flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
